* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	margin: 0;
	padding: 0;
	color: #979797;
	background: url(../images/bg.png) repeat;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	
	color: #d6000f;
	font-size:30px;
	font-weight:normal;
	padding-left:15px;
	padding-right:15px;
}
strong {
	color: #d6000f;
}
p {
	margin-top: 10px;	
	margin-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}
a img {
	border: none;
}
a {
	color: #d6000f;
	text-decoration: underline; 
}
a:hover, a:active, a:focus { 
	color:#d6000f;
	text-decoration: none;
}
header {
}
header h1 {
	float:left;
	color:#d6000f;
	padding:30px 0;
	font-size: 60px;
}
.moreLink {
	float:right;
	padding-right: 15px;
}
.sidebarTextBlock {
	padding-bottom:30px;
	border-bottom:1px solid #7d7d7d;
}
.sidebarTextBlock span {
	float:left;
	padding-left:15px;
	color:#d6000f;
}
footer {
	padding: 10px 0;
	position: relative;
	clear: both;
	border-top:1px solid #a4a4a4;
	text-align:center;
}
.container {
	width: 960px;
	margin: 0 auto; 
}
.sidebar1 {
	float: left;
	width: 199px;
	padding: 10px 0 0 0;
	border-right:1px solid #7d7d7d;
}
.content {
	padding: 10px 0 0 0;
	width: 760px;
	float: left;
	height: 100%;
}
.content li {
	margin:20px;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* ----- MAIN MENU ----- */
nav ul {
	padding-left: 0;
	margin:1px 0 30px 0;
	background-color: #1d1d1d;
	float: left;
	width: 100%;
	font-size:24px;
	border-bottom:1px solid #7d7d7d;
}
nav ul li { 
	display: inline; 
}
nav ul li a {
	padding: 20px 20px;
	background-color: #1d1d1d;
	color: #7d7d7d;
	text-decoration: none;
	float: left;
}
nav ul li a:hover {
	background-color: #d6000f;
	color: #fff;
}
nav ul #active a {
	background-color: #d6000f;
	color: #fff;
}

/* ----- MEDIA QUERIES ----- */
/* for 980px or less */
@media screen and (max-width: 960px) {
	.container {
		width: 95%;
	}
	.content {
		width: 75%;
	}
	.sidebar1 {
		width: 20%;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.header {
		height:120px;
	}
	.content {
		width: auto;
		float: none;
	}
	.sidebar1 {
		width: auto;
		float: none;
		border-right:none;
		padding-top:15px;
		clear:both;
	}
	.pic1 {
		float:none;
		text-align:center;
	}
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	.headerTop h1 {
		font-size: 14px;
		padding:20px 0 0 15px;
	}
	h2 {
		font-size:14px;
	}
	nav ul {
		font-size:14px;
	}
	nav ul li a {
		padding: 10px 14px;
	}
	.footer {
		font-size:10px;
	}
	.pic1 {
		float:none;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }


